# Built in Function

In [1]:
# 1. Zip()

# 2. Filter()

1. It will help us to get the true value / It will return only true values
2. It will accept only one iterable
3. filter(function_name, iterable)
4. Funtion_Name >> It will return only true value/ Only true value will get executed

In [2]:
def even_num(val):
    if val % 2 == 0:
        return val
    
even_num(11)

In [3]:
def even_num(val):
    if val % 2 == 0:
        return val
    
even_num(12)

12

In [5]:
def even_num(val):
    if val % 2 == 0:
        return val
    
even_num(14)

14

In [6]:
list1 = [2,3,4,5,6,7,8]

list(filter(even_num,list1))

[2, 4, 6, 8]

In [ ]:
list1 = [2,3,4,5,6,7,8]

In [7]:
def odd_num(val):
    if val%2 != 0:
        return val
list1 = [1,2,3,4,5,6,7,8]
list(filter(odd_num,list1))

[1, 3, 5, 7]

In [9]:
def odd_num(val):
    if val %2!=0:
        return val

list1=[2,3,4,5,6,7,8]
list(filter(odd_num, list1))

[3, 5, 7]

In [10]:
list1 = [2,3,4,5,6,7,8]

def odd_num(n):
    
    if n%2!=0:
        return n
    
list(filter(odd_num, list1))

[3, 5, 7]

In [ ]:
range(11,31)

In [11]:
even_numbers = list(filter(lambda x : x%2==0, range(11,31)))
print("Even Numbers are:",even_numbers)
odd_number = list(filter(lambda x : x%2!=0, range(11,31)))
print("Odd Numbers are:", odd_number)

Even Numbers are: [12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
Odd Numbers are: [11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [14]:
even=list(filter(lambda x:x%2==0,range(11,31)))
print(even)
odd=list(filter(lambda x:x%2!=0,range(11,31)))
print(odd)

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
[11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [16]:
list1 = [2,3,4,5,6]
a = lambda list1 : [i**2 for i in list1]
a(list1)

[4, 9, 16, 25, 36]

# 3. map()

1. Iterable DT >> list,tuple,string,set
map(function_name,iterables)

In [18]:
cube = lambda x : x**3
cube(3)

27

In [19]:
cube = lambda x : x**3
cube(8)

512

In [20]:
cube(2)

8

In [21]:
list(map(cube,(2,3,4,5,6,7)))

[8, 27, 64, 125, 216, 343]

In [22]:
def cube(x):
    return x**3

list(map(cube,(1,2,4,5,6)))

[1, 8, 64, 125, 216]

In [23]:
cube = list(map(lambda x : x**3, (2,3,4,5,6,7)))
cube

[8, 27, 64, 125, 216, 343]

In [24]:
list1=[2,3,4,5,6,7]
x=lambda y:y**3
list(map(x,list1))

[8, 27, 64, 125, 216, 343]

In [26]:
list(map((lambda a: a**3),(2,3,4,5,6,7)))

[8, 27, 64, 125, 216, 343]

In [27]:
list(map((lambda a: a**2),(2,3,4,5,6,7)))

[4, 9, 16, 25, 36, 49]

In [29]:
list1 = [10,20,30,40]
list2 = [2,3,4,5]

In [32]:
add = lambda x,y : x + y,

(<function <lambda> at 0x0000015AD057E940>, [10, 20, 30, 40], [2, 3, 4, 5])

In [33]:
list1 = [10,20,30,40]
list2 = [2,3,4,5]
a=lambda x,y:[x[i]+y[i] for i in range(len(x))]
a(list1,list2)

[12, 23, 34, 45]

In [34]:
list1 = [10,20,30,40]
list2 = [2,3,4,5]

multiplication = list(map(lambda x,y : x * y, list1,list2))
print(multiplication)

[20, 60, 120, 200]

map(function_name,iterable)
function : Lambda function, user defined function
iterables : List,Tuple,String,Set

In [ ]:
['python','class']

In [35]:
list1 = ["python","class"]

def make_upper(val):
    return val.upper()

upper_vals = list(map(make_upper,list1))
upper_vals

['PYTHON', 'CLASS']

In [36]:
def upper(a):
    return a.upper()
a=['python','class']
list(map(upper,a))

['PYTHON', 'CLASS']

In [ ]:
{'python','class','1234'}

In [37]:
v={'python','class','1234'}
a=set(map(lambda x: str(x).upper(),v))
print(a)

{'1234', 'PYTHON', 'CLASS'}

In [39]:
{'python','class','1234'}
upper_case=list(map(lambda x : x.upper(),{'python','class','1234'}))
print(upper_case)

['1234', 'CLASS', 'PYTHON']

['Python','Machine','123']


['Python Hello','Machine Hello','123 Hello']

In [44]:
['python','class','1234']
out = map(lambda x:x +' hello',['python','class','1234'] )
output = list(out)
print(output)

['python hello', 'class hello', '1234 hello']

In [41]:
lst1 = ['Python','Machine','123']

say_hello = list(map(lambda x : x +" Hello", lst1))
say_hello

['Python Hello', 'Machine Hello', '123 Hello']

In [42]:
a = ['python','machine','123']
b = list(map(lambda x:x+' Hello',a))
b

['python Hello', 'machine Hello', '123 Hello']