# Dictionary

1. Dictionary is used to store data in key and value pair
2. Dictionary is ordered if python version is > 3.6
3. Dictionary is unordered if python version is < 3.6
4. Mutable >> Changable
5. Duplicate keys are not allowed
6. Duplicates values are allowed
7. Comma seperated

dict1 = {'key' : Value}

key >> Immutable DataType >> int,str,float,tuple
value >> Any data type (list,tuple,float.int,dict,set etc)

In [ ]:
dict1 = {'Name' : 'Mohan Pune'}
dict1
type(dict1)

dict

In [ ]:
dict1 = ()
type(dict1)

tuple

In [ ]:
dict1 = dict()
type(dict1)

dict

In [ ]:
dict1 = {'Name' : 'Mohan Pune'}
len(dict1)

1

In [ ]:
dict1 = {'Name' : 'Mohan Pune','Location' : 'Pune'}
len(dict1)

2

In [ ]:
dict1

{'Name': 'Mohan Pune', 'Location': 'Pune'}

In [ ]:
dict1 = {'Name' : ['Mohan Pune','Rohit Pune']}
len(dict1)

1

In [ ]:
dict1

{'Name': ['Mohan Pune', 'Rohit Pune']}

In [ ]:
dict1 = {'Name' : 'Suraj Mote',
        'Score' : 90,
        'Age' : 25}
dict1
len(dict1)

3

In [ ]:
employee_data = {'Employee_Name' : 'Rohit',
                'Salary' : 50000,
                'Company' :'Capgemini'}
employee_data

{'Employee_Name': 'Rohit', 'Salary': 50000, 'Company': 'Capgemini'}

In [ ]:
countires_capital = {'India' : 'Delhi',
                    'USA' : 'Washington DC',
                    'UK' : 'London'}
countires_capital

{'India': 'Delhi', 'USA': 'Washington DC', 'UK': 'London'}

# Access Dictionary Items

In [3]:
countires_capital = {'India' : 'Delhi',
                    'USA' : 'Washington DC',
                    'UK' : 'London'}
countires_capital['USA']

'Washington DC'

In [ ]:
countires_capital = {'India' : 'Delhi',
                    'USA' : 'Washington DC',
                    'UK' : 'London'}
countires_capital['India']

'Delhi'

In [ ]:
# get()

In [ ]:
countires_capital.get('India')

'Delhi'

In [ ]:
for i in countires_capital:    # Countries_capital.keys()
    print(i)

India
USA
UK

In [ ]:
for key in countires_capital:    # Countries_capital.keys()
    print(key)

India
USA
UK

In [ ]:
for key in countires_capital.keys():    # Countries_capital.keys()
    print(key)

India
USA
UK

In [ ]:
for key,value in countires_capital.items():    # Countries_capital.items()
    print(key,value)

India Delhi
USA Washington DC
UK London

In [ ]:
for value in countires_capital.values():    # Countries_capital.values()
    print(value)

Delhi
Washington DC
London

# 1. keys()

In [ ]:
countires_capital.keys()

dict_keys(['India', 'USA', 'UK'])

# 2. values()

In [1]:
countires_capital.values()

NameError: name 'countires_capital' is not defined

# 3. items()

In [4]:
countires_capital.items()

dict_items([('India', 'Delhi'), ('USA', 'Washington DC'), ('UK', 'London')])

In [5]:
countires_capital

{'India': 'Delhi', 'USA': 'Washington DC', 'UK': 'London'}

In [6]:
'India' in countires_capital

True

In [7]:
'Indiaa' in countires_capital

False

In [8]:
employee_data = {'Employee_Name' : 'Rohit',
                'Salary' : 50000,
                'Company' :'Capgemini'}
employee_data

{'Employee_Name': 'Rohit', 'Salary': 50000, 'Company': 'Capgemini'}

In [9]:
list1 = [1,2,34,5]
list1[2] = 3
list1

[1, 2, 3, 5]

In [ ]:
employee_data = {'Employee_Name' : 'Rohit',
                'Salary' : 50000,
                'Company' :'Capgemini'}
employee_data

In [10]:
employee_data['Salary'] = 60000
print('Employee data is :\n', employee_data)

Employee data is :
 {'Employee_Name': 'Rohit', 'Salary': 60000, 'Company': 'Capgemini'}

In [11]:
employee_data = {'Employee_Name' : 'Rohit',
                'Salary' : 50000,
                'Company' :'Capgemini'}
employee_data['Company']

'Capgemini'

In [12]:
employee_data['Company'] = 'Wipro'
print('Updated employee data is :\n', employee_data)

Updated employee data is :
 {'Employee_Name': 'Rohit', 'Salary': 50000, 'Company': 'Wipro'}

# 2. update()

In [ ]:
employee_data = {'Employee_Name' : 'Rohit',
                'Salary' : 50000,
                'Company' :'Capgemini'}
employee_data.update({'Salary':60000,'Company':'Wipro'})
employee_data

{'Employee_Name': 'Rohit', 'Salary': 60000, 'Company': 'Wipro'}

In [ ]:
employee_data = {'Employee_Name' : 'Rohit',
                'Salary' : 50000,
                'Company' :'Capgemini'}
employee_data.update({'Salary':60000,'Company':'Wipro','Location' :'Pune'})
employee_data

{'Employee_Name': 'Rohit',
 'Salary': 60000,
 'Company': 'Wipro',
 'Location': 'Pune'}

In [ ]:
employee_data = {'Employee_Name' : 'Rohit',
                'Salary' : 50000,
                'Company' :'Capgemini'}

new_dict = {'Location':'Mumbai'}
employee_data.update(new_dict)
employee_data

{'Employee_Name': 'Rohit',
 'Salary': 50000,
 'Company': 'Capgemini',
 'Location': 'Mumbai'}

In [ ]:
employee_data['Age'] = 30 
employee_data

{'Employee_Name': 'Rohit',
 'Salary': 50000,
 'Company': 'Capgemini',
 'Location': 'Mumbai',
 'Age': 30}

# Remove items from dict

# 1. pop()

Delete item with specific key name

In [13]:
employee_data = {'Employee_Name': 'Rohit',
 'Salary': 50000,
 'Company': 'Capgemini',
 'Location': 'Mumbai',
 'Age': 30}
employee_data.pop('Age')
employee_data

{'Employee_Name': 'Rohit',
 'Salary': 50000,
 'Company': 'Capgemini',
 'Location': 'Mumbai'}

In [ ]:
employee_data = {'Employee_Name': 'Rohit',
 'Salary': 50000,
 'Company': 'Capgemini',
 'Location': 'Mumbai',
 'Age': 30}
employee_data.pop('Salary')
employee_data

{'Employee_Name': 'Rohit',
 'Company': 'Capgemini',
 'Location': 'Mumbai',
 'Age': 30}

# 2. popitem()

1. Delete last inserted items

In [ ]:
employee_data = {'Employee_Name': 'Rohit',
 'Salary': 50000,
 'Company': 'Capgemini',
 'Location': 'Mumbai',
 'Age': 30}
employee_data.popitem()
employee_data

{'Employee_Name': 'Rohit',
 'Salary': 50000,
 'Company': 'Capgemini',
 'Location': 'Mumbai'}

# 3. clear()

In [ ]:
employee_data = {'Employee_Name': 'Rohit',
 'Salary': 50000,
 'Company': 'Capgemini',
 'Location': 'Mumbai',
 'Age': 30}
employee_data.clear()
employee_data

{}

# 4. del()

In [ ]:
employee_data = {'Employee_Name': 'Rohit',
 'Salary': 50000,
 'Company': 'Capgemini',
 'Location': 'Mumbai',
 'Age': 30}

del employee_data['Company']
print(employee_data)

{'Employee_Name': 'Rohit', 'Salary': 50000, 'Location': 'Mumbai', 'Age': 30}

In [ ]:
employee_data = {'Employee_Name': 'Rohit',
 'Salary': 50000,
 'Company': 'Capgemini',
 'Location': 'Mumbai',
 'Age': 30}

del employee_data['Location']
print(employee_data)

{'Employee_Name': 'Rohit', 'Salary': 50000, 'Company': 'Capgemini', 'Age': 30}

In [ ]:
employee_data = {'Employee_Name': 'Rohit',
 'Salary': 50000,
 'Company': 'Capgemini',
 'Location': 'Mumbai',
 'Age': 30}

del employee_data
# print(employee_data)

# Nested Dictionaries

In [14]:
emp_details = {'ID0001' :{'Name':'Rohan',
                         'salary':50000,
                         'experience':'2 years',
                         'Location':'Pune',
                         'Designation':'Data Scientist'},
               
              'ID0002' :{'Name':'Mahesh',
                         'salary':60000,
                         'experience':'3 years',
                         'Location':'Mumbai',
                         'Designation':'Machine Learning Engineer'},
               
              'ID0003' :{'Name':'Prakash',
                         'salary':70000,
                         'experience':'3 years',
                         'Location':'Bangalore',
                         'Designation':'Data Engineer'}}

print(emp_details)
len(emp_details)

{'ID0001': {'Name': 'Rohan', 'salary': 50000, 'experience': '2 years', 'Location': 'Pune', 'Designation': 'Data Scientist'}, 'ID0002': {'Name': 'Mahesh', 'salary': 60000, 'experience': '3 years', 'Location': 'Mumbai', 'Designation': 'Machine Learning Engineer'}, 'ID0003': {'Name': 'Prakash', 'salary': 70000, 'experience': '3 years', 'Location': 'Bangalore', 'Designation': 'Data Engineer'}}

3

In [ ]:
type(emp_details['ID0003'])

dict

In [ ]:
 emp_details['ID0003']

{'Name': 'Prakash',
 'salary': 70000,
 'experience': '3 years',
 'Location': 'Bangalore',
 'Designation': 'Data Engineer'}

In [ ]:
len(emp_details['ID0003'])

5

# for loop in dict

In [ ]:
sub_names = ['Phy','Che','Math','Bio']
Marks = [90,85,88,92]


# sub_marks = {'Phy' : 90,'Che' : 85, 'Math' : 88, 'Bio' : 92}

In [ ]:
sub_names = ['Phy','Che','Math','Bio']
Marks = [90,85,88,92]
d = {}
for i in range(len(sub_names)):
    d[sub_names[i]]= Marks[i]
print(d)

{'Phy': 90, 'Che': 85, 'Math': 88, 'Bio': 92}

In [ ]:
sub_names = ['Phy','Che','Math','Bio']
Marks = [90,85,88,92]

result = {}

for index,sub_name in enumerate(sub_names):
    result[sub_name] = Marks[index]
result

{'Phy': 90, 'Che': 85, 'Math': 88, 'Bio': 92}

In [ ]:
sub_names = ['Phy','Che','Math','Bio']
Marks = [90,85,88,92]

result = {}
count = 0
for sub_name in sub_names:
    result[sub_name] = Marks[count]
    count += 1
    
result

{'Phy': 90, 'Che': 85, 'Math': 88, 'Bio': 92}

In [ ]:
a={}
for i in range(1,10+1):
    a[i] = i**2
    
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
d = {}
for i in range(1,11):
    d[i]= i**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
String = 'We are learning python and data science and Machine Learning Data Science'

In [ ]:
string1= 'We are learning python and data science and Machine Learning Data Science'.lower().split()
dict1={}
for i in string1:
    dict1[i]=string1.count(i)
dict1

{'we': 1,
 'are': 1,
 'learning': 2,
 'python': 1,
 'and': 2,
 'data': 2,
 'science': 2,
 'machine': 1}

In [ ]:
String = 'We are learning python and data science and Machine Learning Data Science'

result = {}

string = String.lower()

for word in string.split():
    result[word] = string.count(word)
    
result

{'we': 1,
 'are': 1,
 'learning': 2,
 'python': 1,
 'and': 2,
 'data': 2,
 'science': 2,
 'machine': 1}